---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <style>
    body {
      margin: 0;
    }

    h3 {
      margin: 0;
    }
  </style>
  <!-- header -->
  <style>
    html {
      --background-color-dark: rgb(16, 19, 24);
      --background-color-light: #f7f7f7;

      --border-color-light: #f5f5f5;

      --text-color-light: rgb(234, 236, 260);

      font-family:
        Canva Sans,
        Helvetica Neue,
        Roboto,
        -apple-system,
        blinkmacsystemfont,
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 1rem;
      line-height: 1.4;
    }

    .HeroHeader_hero {
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(234, 236, 240);
      background-color: var(--background-color-dark);
      min-height: 35rem;
    }

    .HeroHeader_content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 630px;
      padding: 0 1rem;
    }

    .SearchInput_container {
      position: relative;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 3fr;
      background: var(--background-color-light);
      border-color: var(--border-color-light);
      padding: 0.4em;
      font-weight: 500;
    }

    .Button_button {
      padding: 12px 11px 12px 0;
      border: 0;
      background: none;
      font-weight: inherit;
      font-size: 1.1rem;
    }

    .Button_text {
      padding-inline: 24px;
    }

    .SearchInput_input {
      appearance: none;
      border: none;
      font-family: inherit !important;
      font-size: inherit;
      font-weight: inherit;
      outline: none;
      background: none;
    }

    h1 {
      font-family: BigShoulders, Oswald, sans-serif;
      line-height: 1.8;
      letter-spacing: -0.02em;
      font-size: 2.5rem;
    }
  </style>
  <!-- nav -->
  <style>
    .Wrapper_maxwidth {
      display: flex;
      align-items: center;
      height: 80px;
      max-width: 900px;
      padding: 0 2rem;
    }

    .Navbar_container {
      background-color: var(--background-color-dark);
      position: absolute;
    }
  </style>
  <style>
    @font-face {
      font-family: "Oswald";
      font-style: normal;
      font-weight: 100 900;
      size-adjust: 150%;
      line-gap-override: 200%;
      src: url("/fonts/Oswald-SemiBold.ttf") format("truetype");
    }

    @font-face {
      font-family: "BigShoulder";
      font-style: normal;
      font-weight: 100 900;
      src: url("/fonts/BigShoulders_36pt-Bold.ttf") format("truetype");
    }
  </style>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style="position: absolute; width: 0; height: 0"
      aria-hidden="true"
      id="__SVG_SPRITE_NODE__"></svg>
  </div>
  <div id="main-content">
    <div id="__next">
      <div class="Navbar_container">
        <nav class="Wrapper_maxwidth">
          <div class="Navbar_left__e0nHg">
            <a
              data-testid="next-link"
              class="Navbar_logo__GfrlV Link_link__Ime8c clickable_clickable__wbzX_ spacing_noMargin__F5u9R"
              href="/"
            >
              <svg
                width="85"
                height="38"
                version="1.1"
                id="Layer_1"
                xmlns:x="ns_extend;"
                xmlns:i="ns_ai;"
                xmlns:graph="ns_graphs;"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                viewBox="0 0 124.2 53"
                style="enable-background: new 0 0 124.2 53"
                xml:space="preserve"
              >
                <style type="text/css">
                  .st0 {
                    fill-rule: evenodd;
                    clip-rule: evenodd;
                    fill: var(--text-color-light);
                  }
                </style>
                <g>
                  <g>
                    <path
                      class="st0"
                      d="M6.8,32.3H0.9V10.2h5.9V32.3z M12.5,23.8c1.8,2,4.6,3.5,7.5,3.5c2.7,0,4.6-1.7,4.6-4c0-4.1-5.9-4.6-10.2-7.1
			C12,14.7,9.9,12.6,9.9,9c0-5.7,5.2-9,10.5-9c3.2,0,6.2,0.8,9.2,3l-3.2,4.5c-1.3-1.2-3.4-2.1-5.5-2.1c-2.3,0-4.9,1-4.9,3.5
			c0,5.1,14.7,3.5,14.7,14.3c0,5.6-5.1,9.6-10.8,9.6c-4.3,0-8.2-1.8-11.5-4.8L12.5,23.8z M49.2,32.3c-0.8,0.3-2.6,0.4-3.7,0.4
			c-3.5,0-6.1-1.2-7.6-3.2c-1.1-1.5-1.6-3.5-1.6-6.6v-7.7h-6.1v-5h6.1V4.1h5.9v6.1h7.3v5h-7.3v8.4c0,1.4,0.2,2.2,0.7,2.8
			c0.6,0.7,1.5,1.1,3,1.1c0.9,0,2-0.1,2.4-0.2L49.2,32.3z M62.3,9.8C69,9.8,74,14.9,74,21.3c0,6.4-5.1,11.5-11.7,11.5
			c-6.7,0-11.7-5.1-11.7-11.5C50.6,14.9,55.6,9.8,62.3,9.8L62.3,9.8z M62.3,27.3c3.5,0,5.8-2.7,5.8-6c0-3.3-2.4-6.1-5.8-6.1
			s-5.8,2.7-5.8,6.1C56.5,24.6,58.8,27.3,62.3,27.3L62.3,27.3z M97.4,27.8c-2.6,3.5-5.9,5-10,5c-6.8,0-11.8-5.1-11.8-11.5
			c0-6.4,5.1-11.5,11.9-11.5c3.8,0,7.2,1.8,9.3,4.4l-4.2,3.7c-1.2-1.5-3-2.6-5.1-2.6c-3.4,0-6,2.7-6,6.1c0,3.5,2.5,6,6.1,6
			c2.4,0,4.3-1.5,5.3-2.9L97.4,27.8z M110.7,20.2l12.2,12.2h-8l-9.3-9.6v9.6h-5.9V0.5h5.9v16.9l7.6-7.1h8.3L110.7,20.2L110.7,20.2z
			 M0,3.9c0-2.2,1.7-3.9,3.9-3.9c2.2,0,3.9,1.8,3.9,3.9C7.6,8.9,0.1,8.9,0,3.9L0,3.9z M1.1,48.4h1.2v-8.3H1.1v-1.3h2.6v3.7
			c0.8-0.9,1.8-1.3,2.9-1.3c2.5,0,4.2,1.9,4.2,4.3c0,2.4-1.8,4.3-4.3,4.3c-1.1,0-2-0.4-2.8-1.3v1.1H1.1V48.4z M6.5,42.6
			c-1.5,0-2.8,1.3-2.8,3c0,1.6,1.3,2.9,2.8,2.9c1.5,0,2.9-1.2,2.9-3C9.4,43.8,8.1,42.6,6.5,42.6L6.5,42.6z M12.6,51h1.3l0.6-1.6
			l-2.7-6.7h-1.1v-1.3h3.7v1.3h-1.1l1.9,4.9l1.9-4.9h-1.1v-1.3h3.6v1.3h-1.1L15.4,51h1.1v1.3h-3.9V51z M28.3,44.2h6.6v5.4h-1.2v-1.7
			c-1.2,1.3-2.6,1.9-4.2,1.9c-3.2,0-5.5-2.5-5.5-5.7c0-2.9,2.4-5.6,5.7-5.6c1.2,0,2.2,0.3,3.3,1.1v-0.9h1.2v2.9h-1.3
			c-0.9-1.1-2-1.6-3.2-1.6c-2.3,0-4,1.9-4,4.1c0,2.4,1.8,4.2,4,4.2c1.7,0,3.2-1.1,3.7-2.8h-5V44.2z M44.5,47c-0.7,1.8-2.2,2.8-4,2.8
			c-2.4,0-4.3-1.9-4.3-4.3c0-2.4,2-4.3,4.2-4.3c2.4,0,4.3,1.9,4.3,4.4c0,0.1,0,0.3,0,0.5h-7c0.2,1.5,1.4,2.4,2.8,2.4
			c1,0,1.9-0.5,2.4-1.5H44.5z M43.2,44.9c-0.4-1.5-1.4-2.4-2.8-2.4c-1.4,0-2.5,0.9-2.8,2.4H43.2z M46.4,42.7h-1.3v-1.3h1.3v-2.6h1.4
			v2.6H49v1.3h-1.2v5.7H49v1.3h-2.6V42.7z M51,42.7h-1.3v-1.3H51v-2.6h1.4v2.6h1.2v1.3h-1.2v5.7h1.2v1.3H51L51,42.7L51,42.7z
			 M56.3,51h1.3l0.6-1.6l-2.7-6.7h-1.1v-1.3h3.7v1.3H57l1.9,4.9l1.9-4.9h-1.1v-1.3h3.7v1.3h-1.1L59,51h1.1v1.3h-3.9V51z M67.5,48.3
			h1.2v-8.2h-1.2v-1.3h3.9v1.3h-1.2v8.2h1.2v1.3h-3.9V48.3z M72.6,48.4h1.2v-5.7h-1.2v-1.3h2.5v1.2c0.5-0.9,1.2-1.3,2.2-1.3
			c1.2,0,2.1,0.6,2.6,1.6c0.6-1.1,1.4-1.7,2.5-1.7c2,0,3,1.5,3,3.5v3.6h1.2v1.3h-3.7v-1.3h1.2v-3.6c0-1.4-0.6-2.1-1.8-2.1
			c-1.3,0-2,1-2,2.9v2.9h1.2v1.3h-3.7v-1.3H79v-2.7c0-1.9-0.2-3-1.8-3c-1.2,0-2,1-2,2.9v2.9h1.2v1.3h-3.7V48.4z M94.2,48.6
			c-0.9,0.9-1.7,1.3-2.8,1.3c-2.5,0-4.3-1.9-4.3-4.3c0-2.4,1.7-4.3,4.2-4.3c1.2,0,2.1,0.4,2.9,1.3v-1.1h2.5v1.3h-1.2v5.6h1.2v1.3
			h-2.6V48.6z M91.4,42.6c-1.5,0-2.8,1.2-2.8,2.9c0,1.8,1.3,3,2.8,3c1.5,0,2.8-1.3,2.8-2.9C94.3,43.8,92.9,42.6,91.4,42.6L91.4,42.6
			z M99.6,50.1c0.3,0.9,1.1,1.3,2.2,1.3c1.5,0,2.7-1.1,2.8-2.6l0-0.4c-0.8,0.9-1.7,1.3-2.9,1.3c-2.4,0-4.2-1.8-4.2-4.3
			c0-2.4,1.7-4.3,4.2-4.3c1.2,0,2.1,0.4,2.9,1.4v-1.2h2.5v1.3H106v5.6c0,2.8-1.6,4.4-4.2,4.4c-2,0-3.3-0.9-3.8-2.6H99.6z
			 M104.6,45.6c0-1.7-1.3-3-2.8-3c-1.5,0-2.8,1.2-2.8,2.9c0,1.8,1.3,3,2.8,3C103.3,48.5,104.6,47.2,104.6,45.6L104.6,45.6z M116,47
			c-0.7,1.8-2.2,2.8-4,2.8c-2.4,0-4.3-1.9-4.3-4.3c0-2.4,2-4.3,4.3-4.3c2.4,0,4.3,1.9,4.3,4.4c0,0.1,0,0.3,0,0.5h-7
			c0.2,1.5,1.4,2.4,2.8,2.4c1,0,1.9-0.5,2.4-1.5H116z M114.7,44.9c-0.4-1.5-1.4-2.4-2.8-2.4c-1.4,0-2.5,0.9-2.8,2.4H114.7z
			 M117.1,47.1h1.4c0,0.8,0.7,1.6,1.7,1.6c0.9,0,1.4-0.5,1.4-1.3c0-0.9-0.7-1.2-2.1-1.5c-1.8-0.4-2.2-1.3-2.2-2.3
			c0-1.4,1-2.4,2.5-2.4c0.7,0,1.2,0.2,1.7,0.7v-0.5h1.1v2.2h-1.3c-0.2-0.8-0.6-1.2-1.4-1.2c-0.8,0-1.2,0.4-1.2,1
			c0,0.9,0.7,1.1,2,1.4c1.6,0.4,2.3,1.1,2.3,2.4c0,1.5-1.1,2.6-2.8,2.6c-0.8,0-1.4-0.2-1.9-0.8v0.6h-1.3V47.1z M117.1,47.1"
                    ></path>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </nav>
      </div>
      <header class="HeroHeader_hero">
        <div class="HeroHeader_content">
          <h1
            class="Text_text__D8yqX Text_size-h49__TD6VW Text_size-h39-mobile__D_FKh Text_color-whiteFFFFFF__LuhCQ spacing_noMargin__F5u9R"
            style="
                font-family: BigShoulders, Oswald, sans-serif;
                line-height: 1.8;
              "
          >
            The best free stock images of sexual violence, because
            <a
              href="https://www.istockphoto.com/se/search/2/image-film?phrase=sexual%20violence"
              >these</a
            >
            ones are reducing, harmful and wrong
          </h1>
          <form
            role="search"
            autocomplete="off"
            class="SearchBar_form__SelOc spacing_noMargin__F5u9R spacing_mt30__MAo08"
          >
            <div class="SearchInput_container">
              <button class="Button_button" type="button">Photos</button>
              <input
                class="SearchInput_input"
                id="search"
                autocapitalize="none"
                data-testid="search-input"
                placeholder="Search for free images"
                type="search"
                value="Sexual violence"
              />
            </div>
          </form>
        </div>
      </header>
      <main>
        <div class="Controls">
          <h3
            class="Text_text__D8yqX Text_size-h23__75YF7 Text_color-midnight2C343E__iCo4Q spacing_noMargin__F5u9R"
          >
            Free stock images
          </h3>
          <button>Trending</button>
        </div>
        <div class="Grid_gridWrapper">
          <div class="BreakpointGrid_column" data-testid="column">
            <div class="BreakpointGrid_item" data-testid="item">
              <article class="MediaCard_card">
                <a class="MediaCard_content" data-testid="next-link">
                  <picture>
                    <source srcset="" type="image/avif" />
                    <source srcset="" type="image/jpeg" />
                    <img
                      lazy="load"
                      src="/assets/originals/IMG_2943.jpg"
                      sizes="(max-width: 650px) calc((100vw - 42px) / 2), 33vw"
                      alt="Free A solitary figure stands in a dramatic black and white alleyway scene, evoking a sense of mystery. Stock Photo"
                    />
                  </picture>
                  <div class="MediaCard_overlay"></div>
                </a>
              </article>
            </div>
          </div>
          <div class="BreakpointGrid_column" data-testid="column"></div>
          <div class="BreakpointGrid_column" data-testid="column"></div>
        </div>
      </main>
    </div>

    <style>
      main {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 2rem;
      }

      img {
        width: 100%;
        display: block;
      }

      .Grid_gridWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5rem;
      }

      .BreakpointGrid_column {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

      .MediaCard_overlay {
        position: absolute;
        pointer-events: none;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.1),
          transparent 20%,
          transparent 80%,
          rgba(0, 0, 0, 0.3)
        );
        transition: opacity 0.1s linear;
        inset: 0;
        opacity: 0;
      }

      .MediaCard_card {
        position: relative;
      }

      .MediaCard_card:hover .MediaCard_overlay {
        opacity: 1;
      }
    </style>
    <style>
      .Controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
      }

      button {
        color: #191919;
        background: #fff;
        border: 1px solid;
        border-color: #ededed;
        height: 50px;
        padding-inline: 1.25rem;
        font-family: inherit;
        font-size: 1rem;
      }

      button:hover {
        background: #f7f7f7;
        border-color: #747474;
      }

      h3 {
        font-size: 1.5rem;
      }
    </style>
  </div>
  <script>
    const basePath = "/assets";
    const images = [
      {
        name: `aftrekkendeman`,
        src: `${basePath}/aftrekkendeman_1400px.avif`,
        width: 1400,
        height: 886,
        srcSetAvif: `${basePath}/aftrekkendeman_1400px.avif 1400w, ${basePath}/aftrekkendeman_2400px.avif 2400w, ${basePath}/aftrekkendeman_600px.avif 600w`,
        srcSetJpg: `${basePath}/aftrekkendeman_1400px.jpg 1400w, ${basePath}/aftrekkendeman_2400px.jpg 2400w, ${basePath}/aftrekkendeman_600px.jpg 600w`,
      },
      {
        name: `auto-ogen-enlijnen`,
        src: `${basePath}/auto-ogen-enlijnen_1400px.avif`,
        width: 1400,
        height: 990,
        srcSetAvif: `${basePath}/auto-ogen-enlijnen_1400px.avif 1400w, ${basePath}/auto-ogen-enlijnen_2400px.avif 2400w, ${basePath}/auto-ogen-enlijnen_600px.avif 600w`,
        srcSetJpg: `${basePath}/auto-ogen-enlijnen_1400px.jpg 1400w, ${basePath}/auto-ogen-enlijnen_2400px.jpg 2400w, ${basePath}/auto-ogen-enlijnen_600px.jpg 600w`,
      },
      {
        name: `auto-ogen`,
        src: `${basePath}/auto-ogen_1400px.avif`,
        width: 1400,
        height: 990,
        srcSetAvif: `${basePath}/auto-ogen_1400px.avif 1400w, ${basePath}/auto-ogen_2400px.avif 2400w, ${basePath}/auto-ogen_600px.avif 600w`,
        srcSetJpg: `${basePath}/auto-ogen_1400px.jpg 1400w, ${basePath}/auto-ogen_2400px.jpg 2400w, ${basePath}/auto-ogen_600px.jpg 600w`,
      },
      {
        name: `badkamer`,
        src: `${basePath}/badkamer_1400px.avif`,
        width: 1400,
        height: 2001,
        srcSetAvif: `${basePath}/badkamer_1400px.avif 1400w, ${basePath}/badkamer_2400px.avif 2400w, ${basePath}/badkamer_600px.avif 600w`,
        srcSetJpg: `${basePath}/badkamer_1400px.jpg 1400w, ${basePath}/badkamer_2400px.jpg 2400w, ${basePath}/badkamer_600px.jpg 600w`,
      },
      {
        name: `boos`,
        src: `${basePath}/boos_1400px.avif`,
        width: 1400,
        height: 1980,
        srcSetAvif: `${basePath}/boos_1400px.avif 1400w, ${basePath}/boos_2400px.avif 2400w, ${basePath}/boos_600px.avif 600w`,
        srcSetJpg: `${basePath}/boos_1400px.jpg 1400w, ${basePath}/boos_2400px.jpg 2400w, ${basePath}/boos_600px.jpg 600w`,
      },
      {
        name: `cheers`,
        src: `${basePath}/cheers_1400px.avif`,
        width: 1400,
        height: 1980,
        srcSetAvif: `${basePath}/cheers_1400px.avif 1400w, ${basePath}/cheers_2400px.avif 2400w, ${basePath}/cheers_600px.avif 600w`,
        srcSetJpg: `${basePath}/cheers_1400px.jpg 1400w, ${basePath}/cheers_2400px.jpg 2400w, ${basePath}/cheers_600px.jpg 600w`,
      },
      {
        name: `drankjesdoen`,
        src: `${basePath}/drankjesdoen_1400px.avif`,
        width: 1400,
        height: 1411,
        srcSetAvif: `${basePath}/drankjesdoen_1400px.avif 1400w, ${basePath}/drankjesdoen_2400px.avif 2400w, ${basePath}/drankjesdoen_600px.avif 600w`,
        srcSetJpg: `${basePath}/drankjesdoen_1400px.jpg 1400w, ${basePath}/drankjesdoen_2400px.jpg 2400w, ${basePath}/drankjesdoen_600px.jpg 600w`,
      },
      {
        name: `engbos-fiets`,
        src: `${basePath}/engbos-fiets_1400px.avif`,
        width: 1400,
        height: 1930,
        srcSetAvif: `${basePath}/engbos-fiets_1400px.avif 1400w, ${basePath}/engbos-fiets_2400px.avif 2400w, ${basePath}/engbos-fiets_600px.avif 600w`,
        srcSetJpg: `${basePath}/engbos-fiets_1400px.jpg 1400w, ${basePath}/engbos-fiets_2400px.jpg 2400w, ${basePath}/engbos-fiets_600px.jpg 600w`,
      },
      {
        name: `geest-van-de-harrasor`,
        src: `${basePath}/geest-van-de-harrasor_1400px.avif`,
        width: 1400,
        height: 980,
        srcSetAvif: `${basePath}/geest-van-de-harrasor_1400px.avif 1400w, ${basePath}/geest-van-de-harrasor_2400px.avif 2400w, ${basePath}/geest-van-de-harrasor_600px.avif 600w`,
        srcSetJpg: `${basePath}/geest-van-de-harrasor_1400px.jpg 1400w, ${basePath}/geest-van-de-harrasor_2400px.jpg 2400w, ${basePath}/geest-van-de-harrasor_600px.jpg 600w`,
      },
      {
        name: `handen-enthuis`,
        src: `${basePath}/handen-enthuis_1400px.avif`,
        width: 1400,
        height: 1387,
        srcSetAvif: `${basePath}/handen-enthuis_1400px.avif 1400w, ${basePath}/handen-enthuis_2400px.avif 2400w, ${basePath}/handen-enthuis_600px.avif 600w`,
        srcSetJpg: `${basePath}/handen-enthuis_1400px.jpg 1400w, ${basePath}/handen-enthuis_2400px.jpg 2400w, ${basePath}/handen-enthuis_600px.jpg 600w`,
      },
      {
        name: `handen-huilen`,
        src: `${basePath}/handen-huilen_1400px.avif`,
        width: 1400,
        height: 1977,
        srcSetAvif: `${basePath}/handen-huilen_1400px.avif 1400w, ${basePath}/handen-huilen_2400px.avif 2400w, ${basePath}/handen-huilen_600px.avif 600w`,
        srcSetJpg: `${basePath}/handen-huilen_1400px.jpg 1400w, ${basePath}/handen-huilen_2400px.jpg 2400w, ${basePath}/handen-huilen_600px.jpg 600w`,
      },
      {
        name: `handenoplichaam`,
        src: `${basePath}/handenoplichaam_1400px.avif`,
        width: 1400,
        height: 1952,
        srcSetAvif: `${basePath}/handenoplichaam_1400px.avif 1400w, ${basePath}/handenoplichaam_2400px.avif 2400w, ${basePath}/handenoplichaam_600px.avif 600w`,
        srcSetJpg: `${basePath}/handenoplichaam_1400px.jpg 1400w, ${basePath}/handenoplichaam_2400px.jpg 2400w, ${basePath}/handenoplichaam_600px.jpg 600w`,
      },
      {
        name: `hoofd4bij5`,
        src: `${basePath}/hoofd4bij5_1400px.avif`,
        width: 1400,
        height: 1750,
        srcSetAvif: `${basePath}/hoofd4bij5_1400px.avif 1400w, ${basePath}/hoofd4bij5_2400px.avif 2400w, ${basePath}/hoofd4bij5_600px.avif 600w`,
        srcSetJpg: `${basePath}/hoofd4bij5_1400px.jpg 1400w, ${basePath}/hoofd4bij5_2400px.jpg 2400w, ${basePath}/hoofd4bij5_600px.jpg 600w`,
      },
      {
        name: `img-2942`,
        src: `${basePath}/img-2942_1400px.avif`,
        width: 1400,
        height: 1050,
        srcSetAvif: `${basePath}/img-2942_1400px.avif 1400w, ${basePath}/img-2942_2400px.avif 2400w, ${basePath}/img-2942_600px.avif 600w`,
        srcSetJpg: `${basePath}/img-2942_1400px.jpg 1400w, ${basePath}/img-2942_2400px.jpg 2400w, ${basePath}/img-2942_600px.jpg 600w`,
      },
      {
        name: `img-2943`,
        src: `${basePath}/img-2943_1400px.avif`,
        width: 1400,
        height: 1893,
        srcSetAvif: `${basePath}/img-2943_1400px.avif 1400w, ${basePath}/img-2943_2400px.avif 2400w, ${basePath}/img-2943_600px.avif 600w`,
        srcSetJpg: `${basePath}/img-2943_1400px.jpg 1400w, ${basePath}/img-2943_2400px.jpg 2400w, ${basePath}/img-2943_600px.jpg 600w`,
      },
      {
        name: `indetram`,
        src: `${basePath}/indetram_1400px.avif`,
        width: 1400,
        height: 1387,
        srcSetAvif: `${basePath}/indetram_1400px.avif 1400w, ${basePath}/indetram_2400px.avif 2400w, ${basePath}/indetram_600px.avif 600w`,
        srcSetJpg: `${basePath}/indetram_1400px.jpg 1400w, ${basePath}/indetram_2400px.jpg 2400w, ${basePath}/indetram_600px.jpg 600w`,
      },
      {
        name: `ingebroken2`,
        src: `${basePath}/ingebroken2_1400px.avif`,
        width: 1400,
        height: 997,
        srcSetAvif: `${basePath}/ingebroken2_1400px.avif 1400w, ${basePath}/ingebroken2_2400px.avif 2400w, ${basePath}/ingebroken2_600px.avif 600w`,
        srcSetJpg: `${basePath}/ingebroken2_1400px.jpg 1400w, ${basePath}/ingebroken2_2400px.jpg 2400w, ${basePath}/ingebroken2_600px.jpg 600w`,
      },
      {
        name: `ingebroken`,
        src: `${basePath}/ingebroken_1400px.avif`,
        width: 1400,
        height: 1108,
        srcSetAvif: `${basePath}/ingebroken_1400px.avif 1400w, ${basePath}/ingebroken_2400px.avif 2400w, ${basePath}/ingebroken_600px.avif 600w`,
        srcSetJpg: `${basePath}/ingebroken_1400px.jpg 1400w, ${basePath}/ingebroken_2400px.jpg 2400w, ${basePath}/ingebroken_600px.jpg 600w`,
      },
      {
        name: `kruis1`,
        src: `${basePath}/kruis1_1400px.avif`,
        width: 1400,
        height: 886,
        srcSetAvif: `${basePath}/kruis1_1400px.avif 1400w, ${basePath}/kruis1_2400px.avif 2400w, ${basePath}/kruis1_600px.avif 600w`,
        srcSetJpg: `${basePath}/kruis1_1400px.jpg 1400w, ${basePath}/kruis1_2400px.jpg 2400w, ${basePath}/kruis1_600px.jpg 600w`,
      },
      {
        name: `man-auto-lijnen`,
        src: `${basePath}/man-auto-lijnen_1400px.avif`,
        width: 1400,
        height: 986,
        srcSetAvif: `${basePath}/man-auto-lijnen_1400px.avif 1400w, ${basePath}/man-auto-lijnen_2400px.avif 2400w, ${basePath}/man-auto-lijnen_600px.avif 600w`,
        srcSetJpg: `${basePath}/man-auto-lijnen_1400px.jpg 1400w, ${basePath}/man-auto-lijnen_2400px.jpg 2400w, ${basePath}/man-auto-lijnen_600px.jpg 600w`,
      },
      {
        name: `man`,
        src: `${basePath}/man_1400px.avif`,
        width: 1400,
        height: 2280,
        srcSetAvif: `${basePath}/man_1400px.avif 1400w, ${basePath}/man_2400px.avif 2400w, ${basePath}/man_600px.avif 600w`,
        srcSetJpg: `${basePath}/man_1400px.jpg 1400w, ${basePath}/man_2400px.jpg 2400w, ${basePath}/man_600px.jpg 600w`,
      },
      {
        name: `manogen`,
        src: `${basePath}/manogen_1400px.avif`,
        width: 1400,
        height: 877,
        srcSetAvif: `${basePath}/manogen_1400px.avif 1400w, ${basePath}/manogen_2400px.avif 2400w, ${basePath}/manogen_600px.avif 600w`,
        srcSetJpg: `${basePath}/manogen_1400px.jpg 1400w, ${basePath}/manogen_2400px.jpg 2400w, ${basePath}/manogen_600px.jpg 600w`,
      },
      {
        name: `ogenman`,
        src: `${basePath}/ogenman_1400px.avif`,
        width: 1400,
        height: 2287,
        srcSetAvif: `${basePath}/ogenman_1400px.avif 1400w, ${basePath}/ogenman_2400px.avif 2400w, ${basePath}/ogenman_600px.avif 600w`,
        srcSetJpg: `${basePath}/ogenman_1400px.jpg 1400w, ${basePath}/ogenman_2400px.jpg 2400w, ${basePath}/ogenman_600px.jpg 600w`,
      },
      {
        name: `onemore`,
        src: `${basePath}/onemore_1400px.avif`,
        width: 1400,
        height: 1984,
        srcSetAvif: `${basePath}/onemore_1400px.avif 1400w, ${basePath}/onemore_2400px.avif 2400w, ${basePath}/onemore_600px.avif 600w`,
        srcSetJpg: `${basePath}/onemore_1400px.jpg 1400w, ${basePath}/onemore_2400px.jpg 2400w, ${basePath}/onemore_600px.jpg 600w`,
      },
      {
        name: `rits`,
        src: `${basePath}/rits_1400px.avif`,
        width: 1400,
        height: 2246,
        srcSetAvif: `${basePath}/rits_1400px.avif 1400w, ${basePath}/rits_2400px.avif 2400w, ${basePath}/rits_600px.avif 600w`,
        srcSetJpg: `${basePath}/rits_1400px.jpg 1400w, ${basePath}/rits_2400px.jpg 2400w, ${basePath}/rits_600px.jpg 600w`,
      },
      {
        name: `rodeman`,
        src: `${basePath}/rodeman_1400px.avif`,
        width: 1400,
        height: 1028,
        srcSetAvif: `${basePath}/rodeman_1400px.avif 1400w, ${basePath}/rodeman_2400px.avif 2400w, ${basePath}/rodeman_600px.avif 600w`,
        srcSetJpg: `${basePath}/rodeman_1400px.jpg 1400w, ${basePath}/rodeman_2400px.jpg 2400w, ${basePath}/rodeman_600px.jpg 600w`,
      },
      {
        name: `tekst`,
        src: `${basePath}/tekst_1400px.avif`,
        width: 1400,
        height: 1980,
        srcSetAvif: `${basePath}/tekst_1400px.avif 1400w, ${basePath}/tekst_2400px.avif 2400w, ${basePath}/tekst_600px.avif 600w`,
        srcSetJpg: `${basePath}/tekst_1400px.jpg 1400w, ${basePath}/tekst_2400px.jpg 2400w, ${basePath}/tekst_600px.jpg 600w`,
      },
      {
        name: `untitled-artwork-94`,
        src: `${basePath}/untitled-artwork-94_1400px.avif`,
        width: 1400,
        height: 1557,
        srcSetAvif: `${basePath}/untitled-artwork-94_1400px.avif 1400w, ${basePath}/untitled-artwork-94_2400px.avif 2400w, ${basePath}/untitled-artwork-94_600px.avif 600w`,
        srcSetJpg: `${basePath}/untitled-artwork-94_1400px.jpg 1400w, ${basePath}/untitled-artwork-94_2400px.jpg 2400w, ${basePath}/untitled-artwork-94_600px.jpg 600w`,
      },
      {
        name: `vieze-man`,
        src: `${basePath}/vieze-man_1400px.avif`,
        width: 1400,
        height: 998,
        srcSetAvif: `${basePath}/vieze-man_1400px.avif 1400w, ${basePath}/vieze-man_2400px.avif 2400w, ${basePath}/vieze-man_600px.avif 600w`,
        srcSetJpg: `${basePath}/vieze-man_1400px.jpg 1400w, ${basePath}/vieze-man_2400px.jpg 2400w, ${basePath}/vieze-man_600px.jpg 600w`,
      },
      {
        name: `viezevrouw`,
        src: `${basePath}/viezevrouw_1400px.avif`,
        width: 1400,
        height: 1750,
        srcSetAvif: `${basePath}/viezevrouw_1400px.avif 1400w, ${basePath}/viezevrouw_2400px.avif 2400w, ${basePath}/viezevrouw_600px.avif 600w`,
        srcSetJpg: `${basePath}/viezevrouw_1400px.jpg 1400w, ${basePath}/viezevrouw_2400px.jpg 2400w, ${basePath}/viezevrouw_600px.jpg 600w`,
      },
      {
        name: `vrouviezpsd`,
        src: `${basePath}/vrouviezpsd_1400px.avif`,
        width: 1400,
        height: 1962,
        srcSetAvif: `${basePath}/vrouviezpsd_1400px.avif 1400w, ${basePath}/vrouviezpsd_2400px.avif 2400w, ${basePath}/vrouviezpsd_600px.avif 600w`,
        srcSetJpg: `${basePath}/vrouviezpsd_1400px.jpg 1400w, ${basePath}/vrouviezpsd_2400px.jpg 2400w, ${basePath}/vrouviezpsd_600px.jpg 600w`,
      },
      {
        name: `womendoorgaan`,
        src: `${basePath}/womendoorgaan_1400px.avif`,
        width: 1400,
        height: 2024,
        srcSetAvif: `${basePath}/womendoorgaan_1400px.avif 1400w, ${basePath}/womendoorgaan_2400px.avif 2400w, ${basePath}/womendoorgaan_600px.avif 600w`,
        srcSetJpg: `${basePath}/womendoorgaan_1400px.jpg 1400w, ${basePath}/womendoorgaan_2400px.jpg 2400w, ${basePath}/womendoorgaan_600px.jpg 600w`,
      },
      {
        name: `youlikethis`,
        src: `${basePath}/youlikethis_1400px.avif`,
        width: 1400,
        height: 1980,
        srcSetAvif: `${basePath}/youlikethis_1400px.avif 1400w, ${basePath}/youlikethis_2400px.avif 2400w, ${basePath}/youlikethis_600px.avif 600w`,
        srcSetJpg: `${basePath}/youlikethis_1400px.jpg 1400w, ${basePath}/youlikethis_2400px.jpg 2400w, ${basePath}/youlikethis_600px.jpg 600w`,
      },
    ];

    const amountPerRow = 3;

    const originalElement = document.querySelector(".BreakpointGrid_item");
    const baseElement = originalElement.cloneNode(true);
    const exisitingElements = document.querySelectorAll(".BreakpointGrid_item");
    const count = exisitingElements.length;
    const columns = document.querySelectorAll(".BreakpointGrid_column");
    for (let i = count; i < images.length; i++) {
      const newElement = baseElement.cloneNode(true);
      const columnIndex = i % amountPerRow;
      columns[columnIndex].appendChild(newElement);
    }

    document
      .querySelectorAll(".BreakpointGrid_column")
      .forEach((item, column) => {
        item.querySelectorAll(".BreakpointGrid_item").forEach((item, index) => {
          item.dataset.number = column + index * amountPerRow;
        });
      });

    document
      .querySelectorAll(".BreakpointGrid_column")
      .forEach((item, column) => {
        item.querySelectorAll(".BreakpointGrid_item").forEach((item, index) => {
          item.dataset.number = column + index * amountPerRow;
        });
      });

    const items = Array.from(document.querySelectorAll("[data-number]")).sort(
      (a, b) => a.dataset.number - b.dataset.number,
    );

    items.forEach((item, index) => {
      const image = images[index];

      if (image) {
        const picture = item.querySelector("picture");
        const sources = picture.querySelectorAll("source");
        sources[0].srcset = image.srcSetAvif;
        sources[1].srcset = image.srcSetJpg;

        const img = picture.querySelector("img");
        img.src = image.src;

        const article = item.querySelector("article");
        article.style = `aspect-ratio: ${image.width}/${image.height}`;
      } else {
        item.style.display = "none";
      }
    });
  </script>
</Layout>
