---
import SiteLayout from "../layouts/SiteLayout.astro";

const basePath = "/assets";
const images = [
  {
    name: `aftrekkendeman`,
    src: `${basePath}/aftrekkendeman_1400px.avif`,
    width: 1400,
    height: 886,
    srcSetAvif: `${basePath}/aftrekkendeman_1400px.avif 1400w, ${basePath}/aftrekkendeman_2400px.avif 2400w, ${basePath}/aftrekkendeman_600px.avif 600w`,
    srcSetJpg: `${basePath}/aftrekkendeman_1400px.jpg 1400w, ${basePath}/aftrekkendeman_2400px.jpg 2400w, ${basePath}/aftrekkendeman_600px.jpg 600w`,
  },
  {
    name: `auto-ogen-enlijnen`,
    src: `${basePath}/auto-ogen-enlijnen_1400px.avif`,
    width: 1400,
    height: 990,
    srcSetAvif: `${basePath}/auto-ogen-enlijnen_1400px.avif 1400w, ${basePath}/auto-ogen-enlijnen_2400px.avif 2400w, ${basePath}/auto-ogen-enlijnen_600px.avif 600w`,
    srcSetJpg: `${basePath}/auto-ogen-enlijnen_1400px.jpg 1400w, ${basePath}/auto-ogen-enlijnen_2400px.jpg 2400w, ${basePath}/auto-ogen-enlijnen_600px.jpg 600w`,
  },
  {
    name: `auto-ogen`,
    src: `${basePath}/auto-ogen_1400px.avif`,
    width: 1400,
    height: 990,
    srcSetAvif: `${basePath}/auto-ogen_1400px.avif 1400w, ${basePath}/auto-ogen_2400px.avif 2400w, ${basePath}/auto-ogen_600px.avif 600w`,
    srcSetJpg: `${basePath}/auto-ogen_1400px.jpg 1400w, ${basePath}/auto-ogen_2400px.jpg 2400w, ${basePath}/auto-ogen_600px.jpg 600w`,
  },
  {
    name: `badkamer`,
    src: `${basePath}/badkamer_1400px.avif`,
    width: 1400,
    height: 2001,
    srcSetAvif: `${basePath}/badkamer_1400px.avif 1400w, ${basePath}/badkamer_2400px.avif 2400w, ${basePath}/badkamer_600px.avif 600w`,
    srcSetJpg: `${basePath}/badkamer_1400px.jpg 1400w, ${basePath}/badkamer_2400px.jpg 2400w, ${basePath}/badkamer_600px.jpg 600w`,
  },
  {
    name: `boos`,
    src: `${basePath}/boos_1400px.avif`,
    width: 1400,
    height: 1980,
    srcSetAvif: `${basePath}/boos_1400px.avif 1400w, ${basePath}/boos_2400px.avif 2400w, ${basePath}/boos_600px.avif 600w`,
    srcSetJpg: `${basePath}/boos_1400px.jpg 1400w, ${basePath}/boos_2400px.jpg 2400w, ${basePath}/boos_600px.jpg 600w`,
  },
  {
    name: `cheers`,
    src: `${basePath}/cheers_1400px.avif`,
    width: 1400,
    height: 1980,
    srcSetAvif: `${basePath}/cheers_1400px.avif 1400w, ${basePath}/cheers_2400px.avif 2400w, ${basePath}/cheers_600px.avif 600w`,
    srcSetJpg: `${basePath}/cheers_1400px.jpg 1400w, ${basePath}/cheers_2400px.jpg 2400w, ${basePath}/cheers_600px.jpg 600w`,
  },
  {
    name: `drankjesdoen`,
    src: `${basePath}/drankjesdoen_1400px.avif`,
    width: 1400,
    height: 1411,
    srcSetAvif: `${basePath}/drankjesdoen_1400px.avif 1400w, ${basePath}/drankjesdoen_2400px.avif 2400w, ${basePath}/drankjesdoen_600px.avif 600w`,
    srcSetJpg: `${basePath}/drankjesdoen_1400px.jpg 1400w, ${basePath}/drankjesdoen_2400px.jpg 2400w, ${basePath}/drankjesdoen_600px.jpg 600w`,
  },
  {
    name: `engbos-fiets`,
    src: `${basePath}/engbos-fiets_1400px.avif`,
    width: 1400,
    height: 1930,
    srcSetAvif: `${basePath}/engbos-fiets_1400px.avif 1400w, ${basePath}/engbos-fiets_2400px.avif 2400w, ${basePath}/engbos-fiets_600px.avif 600w`,
    srcSetJpg: `${basePath}/engbos-fiets_1400px.jpg 1400w, ${basePath}/engbos-fiets_2400px.jpg 2400w, ${basePath}/engbos-fiets_600px.jpg 600w`,
  },
  {
    name: `geest-van-de-harrasor`,
    src: `${basePath}/geest-van-de-harrasor_1400px.avif`,
    width: 1400,
    height: 980,
    srcSetAvif: `${basePath}/geest-van-de-harrasor_1400px.avif 1400w, ${basePath}/geest-van-de-harrasor_2400px.avif 2400w, ${basePath}/geest-van-de-harrasor_600px.avif 600w`,
    srcSetJpg: `${basePath}/geest-van-de-harrasor_1400px.jpg 1400w, ${basePath}/geest-van-de-harrasor_2400px.jpg 2400w, ${basePath}/geest-van-de-harrasor_600px.jpg 600w`,
  },
  {
    name: `handen-enthuis`,
    src: `${basePath}/handen-enthuis_1400px.avif`,
    width: 1400,
    height: 1387,
    srcSetAvif: `${basePath}/handen-enthuis_1400px.avif 1400w, ${basePath}/handen-enthuis_2400px.avif 2400w, ${basePath}/handen-enthuis_600px.avif 600w`,
    srcSetJpg: `${basePath}/handen-enthuis_1400px.jpg 1400w, ${basePath}/handen-enthuis_2400px.jpg 2400w, ${basePath}/handen-enthuis_600px.jpg 600w`,
  },
  {
    name: `handen-huilen`,
    src: `${basePath}/handen-huilen_1400px.avif`,
    width: 1400,
    height: 1977,
    srcSetAvif: `${basePath}/handen-huilen_1400px.avif 1400w, ${basePath}/handen-huilen_2400px.avif 2400w, ${basePath}/handen-huilen_600px.avif 600w`,
    srcSetJpg: `${basePath}/handen-huilen_1400px.jpg 1400w, ${basePath}/handen-huilen_2400px.jpg 2400w, ${basePath}/handen-huilen_600px.jpg 600w`,
  },
  {
    name: `handenoplichaam`,
    src: `${basePath}/handenoplichaam_1400px.avif`,
    width: 1400,
    height: 1952,
    srcSetAvif: `${basePath}/handenoplichaam_1400px.avif 1400w, ${basePath}/handenoplichaam_2400px.avif 2400w, ${basePath}/handenoplichaam_600px.avif 600w`,
    srcSetJpg: `${basePath}/handenoplichaam_1400px.jpg 1400w, ${basePath}/handenoplichaam_2400px.jpg 2400w, ${basePath}/handenoplichaam_600px.jpg 600w`,
  },
  {
    name: `hoofd4bij5`,
    src: `${basePath}/hoofd4bij5_1400px.avif`,
    width: 1400,
    height: 1750,
    srcSetAvif: `${basePath}/hoofd4bij5_1400px.avif 1400w, ${basePath}/hoofd4bij5_2400px.avif 2400w, ${basePath}/hoofd4bij5_600px.avif 600w`,
    srcSetJpg: `${basePath}/hoofd4bij5_1400px.jpg 1400w, ${basePath}/hoofd4bij5_2400px.jpg 2400w, ${basePath}/hoofd4bij5_600px.jpg 600w`,
  },
  {
    name: `img-2942`,
    src: `${basePath}/img-2942_1400px.avif`,
    width: 1400,
    height: 1050,
    srcSetAvif: `${basePath}/img-2942_1400px.avif 1400w, ${basePath}/img-2942_2400px.avif 2400w, ${basePath}/img-2942_600px.avif 600w`,
    srcSetJpg: `${basePath}/img-2942_1400px.jpg 1400w, ${basePath}/img-2942_2400px.jpg 2400w, ${basePath}/img-2942_600px.jpg 600w`,
  },
  {
    name: `img-2943`,
    src: `${basePath}/img-2943_1400px.avif`,
    width: 1400,
    height: 1893,
    srcSetAvif: `${basePath}/img-2943_1400px.avif 1400w, ${basePath}/img-2943_2400px.avif 2400w, ${basePath}/img-2943_600px.avif 600w`,
    srcSetJpg: `${basePath}/img-2943_1400px.jpg 1400w, ${basePath}/img-2943_2400px.jpg 2400w, ${basePath}/img-2943_600px.jpg 600w`,
  },
  {
    name: `indetram`,
    src: `${basePath}/indetram_1400px.avif`,
    width: 1400,
    height: 1387,
    srcSetAvif: `${basePath}/indetram_1400px.avif 1400w, ${basePath}/indetram_2400px.avif 2400w, ${basePath}/indetram_600px.avif 600w`,
    srcSetJpg: `${basePath}/indetram_1400px.jpg 1400w, ${basePath}/indetram_2400px.jpg 2400w, ${basePath}/indetram_600px.jpg 600w`,
  },
  {
    name: `ingebroken2`,
    src: `${basePath}/ingebroken2_1400px.avif`,
    width: 1400,
    height: 997,
    srcSetAvif: `${basePath}/ingebroken2_1400px.avif 1400w, ${basePath}/ingebroken2_2400px.avif 2400w, ${basePath}/ingebroken2_600px.avif 600w`,
    srcSetJpg: `${basePath}/ingebroken2_1400px.jpg 1400w, ${basePath}/ingebroken2_2400px.jpg 2400w, ${basePath}/ingebroken2_600px.jpg 600w`,
  },
  {
    name: `ingebroken`,
    src: `${basePath}/ingebroken_1400px.avif`,
    width: 1400,
    height: 1108,
    srcSetAvif: `${basePath}/ingebroken_1400px.avif 1400w, ${basePath}/ingebroken_2400px.avif 2400w, ${basePath}/ingebroken_600px.avif 600w`,
    srcSetJpg: `${basePath}/ingebroken_1400px.jpg 1400w, ${basePath}/ingebroken_2400px.jpg 2400w, ${basePath}/ingebroken_600px.jpg 600w`,
  },
  {
    name: `kruis1`,
    src: `${basePath}/kruis1_1400px.avif`,
    width: 1400,
    height: 886,
    srcSetAvif: `${basePath}/kruis1_1400px.avif 1400w, ${basePath}/kruis1_2400px.avif 2400w, ${basePath}/kruis1_600px.avif 600w`,
    srcSetJpg: `${basePath}/kruis1_1400px.jpg 1400w, ${basePath}/kruis1_2400px.jpg 2400w, ${basePath}/kruis1_600px.jpg 600w`,
  },
  {
    name: `man-auto-lijnen`,
    src: `${basePath}/man-auto-lijnen_1400px.avif`,
    width: 1400,
    height: 986,
    srcSetAvif: `${basePath}/man-auto-lijnen_1400px.avif 1400w, ${basePath}/man-auto-lijnen_2400px.avif 2400w, ${basePath}/man-auto-lijnen_600px.avif 600w`,
    srcSetJpg: `${basePath}/man-auto-lijnen_1400px.jpg 1400w, ${basePath}/man-auto-lijnen_2400px.jpg 2400w, ${basePath}/man-auto-lijnen_600px.jpg 600w`,
  },
  {
    name: `man`,
    src: `${basePath}/man_1400px.avif`,
    width: 1400,
    height: 2280,
    srcSetAvif: `${basePath}/man_1400px.avif 1400w, ${basePath}/man_2400px.avif 2400w, ${basePath}/man_600px.avif 600w`,
    srcSetJpg: `${basePath}/man_1400px.jpg 1400w, ${basePath}/man_2400px.jpg 2400w, ${basePath}/man_600px.jpg 600w`,
  },
  {
    name: `manogen`,
    src: `${basePath}/manogen_1400px.avif`,
    width: 1400,
    height: 877,
    srcSetAvif: `${basePath}/manogen_1400px.avif 1400w, ${basePath}/manogen_2400px.avif 2400w, ${basePath}/manogen_600px.avif 600w`,
    srcSetJpg: `${basePath}/manogen_1400px.jpg 1400w, ${basePath}/manogen_2400px.jpg 2400w, ${basePath}/manogen_600px.jpg 600w`,
  },
  {
    name: `ogenman`,
    src: `${basePath}/ogenman_1400px.avif`,
    width: 1400,
    height: 2287,
    srcSetAvif: `${basePath}/ogenman_1400px.avif 1400w, ${basePath}/ogenman_2400px.avif 2400w, ${basePath}/ogenman_600px.avif 600w`,
    srcSetJpg: `${basePath}/ogenman_1400px.jpg 1400w, ${basePath}/ogenman_2400px.jpg 2400w, ${basePath}/ogenman_600px.jpg 600w`,
  },
  {
    name: `onemore`,
    src: `${basePath}/onemore_1400px.avif`,
    width: 1400,
    height: 1984,
    srcSetAvif: `${basePath}/onemore_1400px.avif 1400w, ${basePath}/onemore_2400px.avif 2400w, ${basePath}/onemore_600px.avif 600w`,
    srcSetJpg: `${basePath}/onemore_1400px.jpg 1400w, ${basePath}/onemore_2400px.jpg 2400w, ${basePath}/onemore_600px.jpg 600w`,
  },
  {
    name: `rits`,
    src: `${basePath}/rits_1400px.avif`,
    width: 1400,
    height: 2246,
    srcSetAvif: `${basePath}/rits_1400px.avif 1400w, ${basePath}/rits_2400px.avif 2400w, ${basePath}/rits_600px.avif 600w`,
    srcSetJpg: `${basePath}/rits_1400px.jpg 1400w, ${basePath}/rits_2400px.jpg 2400w, ${basePath}/rits_600px.jpg 600w`,
  },
  {
    name: `rodeman`,
    src: `${basePath}/rodeman_1400px.avif`,
    width: 1400,
    height: 1028,
    srcSetAvif: `${basePath}/rodeman_1400px.avif 1400w, ${basePath}/rodeman_2400px.avif 2400w, ${basePath}/rodeman_600px.avif 600w`,
    srcSetJpg: `${basePath}/rodeman_1400px.jpg 1400w, ${basePath}/rodeman_2400px.jpg 2400w, ${basePath}/rodeman_600px.jpg 600w`,
  },
  {
    name: `tekst`,
    src: `${basePath}/tekst_1400px.avif`,
    width: 1400,
    height: 1980,
    srcSetAvif: `${basePath}/tekst_1400px.avif 1400w, ${basePath}/tekst_2400px.avif 2400w, ${basePath}/tekst_600px.avif 600w`,
    srcSetJpg: `${basePath}/tekst_1400px.jpg 1400w, ${basePath}/tekst_2400px.jpg 2400w, ${basePath}/tekst_600px.jpg 600w`,
  },
  {
    name: `untitled-artwork-94`,
    src: `${basePath}/untitled-artwork-94_1400px.avif`,
    width: 1400,
    height: 1557,
    srcSetAvif: `${basePath}/untitled-artwork-94_1400px.avif 1400w, ${basePath}/untitled-artwork-94_2400px.avif 2400w, ${basePath}/untitled-artwork-94_600px.avif 600w`,
    srcSetJpg: `${basePath}/untitled-artwork-94_1400px.jpg 1400w, ${basePath}/untitled-artwork-94_2400px.jpg 2400w, ${basePath}/untitled-artwork-94_600px.jpg 600w`,
  },
  {
    name: `vieze-man`,
    src: `${basePath}/vieze-man_1400px.avif`,
    width: 1400,
    height: 998,
    srcSetAvif: `${basePath}/vieze-man_1400px.avif 1400w, ${basePath}/vieze-man_2400px.avif 2400w, ${basePath}/vieze-man_600px.avif 600w`,
    srcSetJpg: `${basePath}/vieze-man_1400px.jpg 1400w, ${basePath}/vieze-man_2400px.jpg 2400w, ${basePath}/vieze-man_600px.jpg 600w`,
  },
  {
    name: `viezevrouw`,
    src: `${basePath}/viezevrouw_1400px.avif`,
    width: 1400,
    height: 1750,
    srcSetAvif: `${basePath}/viezevrouw_1400px.avif 1400w, ${basePath}/viezevrouw_2400px.avif 2400w, ${basePath}/viezevrouw_600px.avif 600w`,
    srcSetJpg: `${basePath}/viezevrouw_1400px.jpg 1400w, ${basePath}/viezevrouw_2400px.jpg 2400w, ${basePath}/viezevrouw_600px.jpg 600w`,
  },
  {
    name: `vrouviezpsd`,
    src: `${basePath}/vrouviezpsd_1400px.avif`,
    width: 1400,
    height: 1962,
    srcSetAvif: `${basePath}/vrouviezpsd_1400px.avif 1400w, ${basePath}/vrouviezpsd_2400px.avif 2400w, ${basePath}/vrouviezpsd_600px.avif 600w`,
    srcSetJpg: `${basePath}/vrouviezpsd_1400px.jpg 1400w, ${basePath}/vrouviezpsd_2400px.jpg 2400w, ${basePath}/vrouviezpsd_600px.jpg 600w`,
  },
  {
    name: `womendoorgaan`,
    src: `${basePath}/womendoorgaan_1400px.avif`,
    width: 1400,
    height: 2024,
    srcSetAvif: `${basePath}/womendoorgaan_1400px.avif 1400w, ${basePath}/womendoorgaan_2400px.avif 2400w, ${basePath}/womendoorgaan_600px.avif 600w`,
    srcSetJpg: `${basePath}/womendoorgaan_1400px.jpg 1400w, ${basePath}/womendoorgaan_2400px.jpg 2400w, ${basePath}/womendoorgaan_600px.jpg 600w`,
  },
  {
    name: `youlikethis`,
    src: `${basePath}/youlikethis_1400px.avif`,
    width: 1400,
    height: 1980,
    srcSetAvif: `${basePath}/youlikethis_1400px.avif 1400w, ${basePath}/youlikethis_2400px.avif 2400w, ${basePath}/youlikethis_600px.avif 600w`,
    srcSetJpg: `${basePath}/youlikethis_1400px.jpg 1400w, ${basePath}/youlikethis_2400px.jpg 2400w, ${basePath}/youlikethis_600px.jpg 600w`,
  },
];

type Image = (typeof images)[number];

const distributeIntoThree = (arr: Image[]) => {
  const result: Image[][] = [[], [], []];
  arr.forEach((item, index) => {
    result[index % 3].push(item);
  });
  return result;
};

const columns = distributeIntoThree(images);
---

<SiteLayout>
  <div class="Controls">
    <h3
      class="Text_text__D8yqX Text_size-h23__75YF7 Text_color-midnight2C343E__iCo4Q spacing_noMargin__F5u9R"
    >
      Free stock images
    </h3>
    <button>Trending</button>
  </div>
  <div class="Grid_gridWrapper">
    {
      columns.map((images) => (
        <div class="BreakpointGrid_column" data-testid="column">
          <div class="BreakpointGrid_item" data-testid="item">
            {images.map((image) => (
              <article class="MediaCard_card">
                <a
                  href={`/details/${image.name}`}
                  class="MediaCard_content"
                  data-testid="next-link"
                >
                  <picture>
                    <source srcset={image.srcSetAvif} type="image/avif" />
                    <source srcset={image.srcSetJpg} type="image/jpeg" />
                    <img
                      loading="lazy"
                      src={image.src}
                      sizes="(max-width: 650px) calc((100vw - 42px) / 2), 33vw"
                      alt=""
                    />
                  </picture>
                  <div class="MediaCard_overlay" />
                  <a class="download" href={image.src} download={image.name}>
                    Download Image
                  </a>
                </a>
              </article>
            ))}
          </div>
        </div>
      ))
    }
  </div>

  <style>
    main {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    img {
      width: 100%;
      display: block;
    }

    .Grid_gridWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.5rem;
    }

    .BreakpointGrid_column {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .MediaCard_overlay {
      position: absolute;
      pointer-events: none;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.1),
        transparent 20%,
        transparent 80%,
        rgba(0, 0, 0, 0.3)
      );
      transition: opacity 0.1s linear;
      inset: 0;
      opacity: 0;
    }

    .MediaCard_card {
      position: relative;
    }

    .MediaCard_card:hover .MediaCard_overlay {
      opacity: 1;
    }
  </style>
  <style>
    .Controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;
    }

    button {
      color: #191919;
      background: #fff;
      border: 1px solid;
      border-color: #ededed;
      height: 50px;
      padding-inline: 1.25rem;
      font-family: inherit;
      font-size: 1rem;
    }

    button:hover {
      background: #f7f7f7;
      border-color: #747474;
    }

    h3 {
      font-size: 1.5rem;
    }
  </style>
</SiteLayout>
      font-size: 1.5rem;
    }
  </style>
</SiteLayout>
