---
import Layout from "./Layout.astro";
import Navigation from "../components/Navigation.astro";
import RelatedImages from "../components/RelatedImages.astro";
import DownloadButton from "../components/DownloadButton.astro";
import Picture from "../components/Picture.astro";

interface Props {
  frontmatter: {
    name: string;
    width: number;
    height: number;
    widths: number[];
    displayName: string;
  };
}

const { frontmatter } = Astro.props;

const { name, width, height, widths, displayName } = frontmatter;

---

<Layout>
  <Navigation />
  <main>
    <div class="DetailLayout-container">
      <DownloadButton {name}>Free Download</DownloadButton>
      <Picture widths={widths} name={name} width={width} height={height} />
      <h1>
        {displayName}
      </h1>
    </div>
  </main>
  <aside>
    <RelatedImages {name} />
  </aside>
</Layout>
<style>
  main {
    --container-width: 96vw;
    --max-photo-height: 65svh;

    padding: 1rem;
  }

  @media (min-width: 768px) {
    main {
      --max-photo-height: 70svh;
    }
  }

  .DetailLayout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
  }

  .DownloadButton {
    align-self: flex-end;
    width: 20ch;
    margin-block-end: 1rem;
  }
</style>
